.style3{
    color: brown;
    size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#new{
    background-color: #FFF8DC;
    color: #000099;
    font-family: Arial, Helvetica, sans-serif;

}